vcell-core/src/main/java/uk/ac/ebi/www/miriamws/main/MiriamWebServices/MiriamWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" xmlns:intf="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataEntryRequest">

      <wsdl:part name="uri" type="xsd:string"/>

      <wsdl:part name="resource" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataEntryResponse">

      <wsdl:part name="getDataEntryReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationsRequest1">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataEntriesResponse">

      <wsdl:part name="getDataEntriesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeDefResponse">

      <wsdl:part name="getDataTypeDefReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypesNameResponse">

      <wsdl:part name="getDataTypesNameReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURNsResponse">

      <wsdl:part name="getDataTypeURNsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getURIRequest1">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeAllURIsRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOfficialURIRequest">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceInstitutionResponse">

      <wsdl:part name="getResourceInstitutionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceLocationResponse">

      <wsdl:part name="getResourceLocationReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getServicesVersionRequest">

   </wsdl:message>

   <wsdl:message name="getDataTypeURIResponse">

      <wsdl:part name="getDataTypeURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypesIdResponse">

      <wsdl:part name="getDataTypesIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getOfficialDataTypeURIResponse">

      <wsdl:part name="getOfficialDataTypeURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOfficialDataTypeURIRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIsResponse1">

      <wsdl:part name="getDataTypeURIsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURLsRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationsResponse1">

      <wsdl:part name="getLocationsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getMiriamURIResponse">

      <wsdl:part name="getMiriamURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceInfoRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURIResponse1">

      <wsdl:part name="getURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationRequest">

      <wsdl:part name="uri" type="xsd:string"/>

      <wsdl:part name="resource" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURNResponse">

      <wsdl:part name="getDataTypeURNReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceInstitutionRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURIResponse">

      <wsdl:part name="getURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURLResponse">

      <wsdl:part name="getURLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURLRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataResourcesRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOfficialURIResponse">

      <wsdl:part name="getOfficialURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypesIdRequest">

   </wsdl:message>

   <wsdl:message name="getDataTypeURIResponse1">

      <wsdl:part name="getDataTypeURIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURLResponse">

      <wsdl:part name="getDataTypeURLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="checkRegExpResponse">

      <wsdl:part name="checkRegExpReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMiriamURIRequest">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIsRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypesNameRequest">

   </wsdl:message>

   <wsdl:message name="getURIRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataEntriesResponse1">

      <wsdl:part name="getDataEntriesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getServicesInfoRequest">

   </wsdl:message>

   <wsdl:message name="getDataTypeSynonymsRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURNRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationsResponse">

      <wsdl:part name="getLocationsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="isDeprecatedResponse">

      <wsdl:part name="isDeprecatedReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part name="getNameReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getJavaLibraryVersionRequest">

   </wsdl:message>

   <wsdl:message name="getDataResourcesResponse">

      <wsdl:part name="getDataResourcesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getServicesVersionResponse">

      <wsdl:part name="getServicesVersionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getJavaLibraryVersionResponse">

      <wsdl:part name="getJavaLibraryVersionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeAllURIsResponse">

      <wsdl:part name="getDataTypeAllURIsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getServicesInfoResponse">

      <wsdl:part name="getServicesInfoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNamesResponse">

      <wsdl:part name="getNamesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataEntriesRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeSynonymsResponse">

      <wsdl:part name="getDataTypeSynonymsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIRequest1">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceLocationRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURNsRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isDeprecatedRequest">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNamesRequest">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURNRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationResponse">

      <wsdl:part name="getLocationReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypePatternResponse">

      <wsdl:part name="getDataTypePatternReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURLsResponse">

      <wsdl:part name="getDataTypeURLsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIsResponse">

      <wsdl:part name="getDataTypeURIsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURIsRequest1">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="checkRegExpRequest">

      <wsdl:part name="identifier" type="xsd:string"/>

      <wsdl:part name="datatype" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getURNResponse">

      <wsdl:part name="getURNReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeDefRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResourceInfoResponse">

      <wsdl:part name="getResourceInfoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypePatternRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLocationsRequest">

      <wsdl:part name="nickname" type="xsd:string"/>

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataTypeURLRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDataEntriesRequest1">

      <wsdl:part name="uri" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="MiriamProvider">

      <wsdl:operation name="getName" parameterOrder="uri">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest"/>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLocation" parameterOrder="uri resource">

         <wsdl:input message="impl:getLocationRequest" name="getLocationRequest"/>

         <wsdl:output message="impl:getLocationResponse" name="getLocationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getURL" parameterOrder="name id">

         <wsdl:input message="impl:getURLRequest" name="getURLRequest"/>

         <wsdl:output message="impl:getURLResponse" name="getURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getURI" parameterOrder="name id type">

         <wsdl:input message="impl:getURIRequest" name="getURIRequest"/>

         <wsdl:output message="impl:getURIResponse" name="getURIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getURI" parameterOrder="name id">

         <wsdl:input message="impl:getURIRequest1" name="getURIRequest1"/>

         <wsdl:output message="impl:getURIResponse1" name="getURIResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getLocations" parameterOrder="nickname id">

         <wsdl:input message="impl:getLocationsRequest" name="getLocationsRequest"/>

         <wsdl:output message="impl:getLocationsResponse" name="getLocationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLocations" parameterOrder="uri">

         <wsdl:input message="impl:getLocationsRequest1" name="getLocationsRequest1"/>

         <wsdl:output message="impl:getLocationsResponse1" name="getLocationsResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getNames" parameterOrder="uri">

         <wsdl:input message="impl:getNamesRequest" name="getNamesRequest"/>

         <wsdl:output message="impl:getNamesResponse" name="getNamesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getURN" parameterOrder="name id">

         <wsdl:input message="impl:getURNRequest" name="getURNRequest"/>

         <wsdl:output message="impl:getURNResponse" name="getURNResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataResources" parameterOrder="nickname">

         <wsdl:input message="impl:getDataResourcesRequest" name="getDataResourcesRequest"/>

         <wsdl:output message="impl:getDataResourcesResponse" name="getDataResourcesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isDeprecated" parameterOrder="uri">

         <wsdl:input message="impl:isDeprecatedRequest" name="isDeprecatedRequest"/>

         <wsdl:output message="impl:isDeprecatedResponse" name="isDeprecatedResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServicesInfo">

         <wsdl:input message="impl:getServicesInfoRequest" name="getServicesInfoRequest"/>

         <wsdl:output message="impl:getServicesInfoResponse" name="getServicesInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServicesVersion">

         <wsdl:input message="impl:getServicesVersionRequest" name="getServicesVersionRequest"/>

         <wsdl:output message="impl:getServicesVersionResponse" name="getServicesVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getJavaLibraryVersion">

         <wsdl:input message="impl:getJavaLibraryVersionRequest" name="getJavaLibraryVersionRequest"/>

         <wsdl:output message="impl:getJavaLibraryVersionResponse" name="getJavaLibraryVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURN" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURNRequest" name="getDataTypeURNRequest"/>

         <wsdl:output message="impl:getDataTypeURNResponse" name="getDataTypeURNResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURNs" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURNsRequest" name="getDataTypeURNsRequest"/>

         <wsdl:output message="impl:getDataTypeURNsResponse" name="getDataTypeURNsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURL" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURLRequest" name="getDataTypeURLRequest"/>

         <wsdl:output message="impl:getDataTypeURLResponse" name="getDataTypeURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURLs" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURLsRequest" name="getDataTypeURLsRequest"/>

         <wsdl:output message="impl:getDataTypeURLsResponse" name="getDataTypeURLsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURI" parameterOrder="name type">

         <wsdl:input message="impl:getDataTypeURIRequest" name="getDataTypeURIRequest"/>

         <wsdl:output message="impl:getDataTypeURIResponse" name="getDataTypeURIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURI" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURIRequest1" name="getDataTypeURIRequest1"/>

         <wsdl:output message="impl:getDataTypeURIResponse1" name="getDataTypeURIResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURIs" parameterOrder="name type">

         <wsdl:input message="impl:getDataTypeURIsRequest" name="getDataTypeURIsRequest"/>

         <wsdl:output message="impl:getDataTypeURIsResponse" name="getDataTypeURIsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURIs" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeURIsRequest1" name="getDataTypeURIsRequest1"/>

         <wsdl:output message="impl:getDataTypeURIsResponse1" name="getDataTypeURIsResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeAllURIs" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeAllURIsRequest" name="getDataTypeAllURIsRequest"/>

         <wsdl:output message="impl:getDataTypeAllURIsResponse" name="getDataTypeAllURIsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeDef" parameterOrder="nickname">

         <wsdl:input message="impl:getDataTypeDefRequest" name="getDataTypeDefRequest"/>

         <wsdl:output message="impl:getDataTypeDefResponse" name="getDataTypeDefResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataEntries" parameterOrder="nickname id">

         <wsdl:input message="impl:getDataEntriesRequest" name="getDataEntriesRequest"/>

         <wsdl:output message="impl:getDataEntriesResponse" name="getDataEntriesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataEntries" parameterOrder="uri">

         <wsdl:input message="impl:getDataEntriesRequest1" name="getDataEntriesRequest1"/>

         <wsdl:output message="impl:getDataEntriesResponse1" name="getDataEntriesResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="getDataEntry" parameterOrder="uri resource">

         <wsdl:input message="impl:getDataEntryRequest" name="getDataEntryRequest"/>

         <wsdl:output message="impl:getDataEntryResponse" name="getDataEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOfficialURI" parameterOrder="uri">

         <wsdl:input message="impl:getOfficialURIRequest" name="getOfficialURIRequest"/>

         <wsdl:output message="impl:getOfficialURIResponse" name="getOfficialURIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOfficialDataTypeURI" parameterOrder="nickname">

         <wsdl:input message="impl:getOfficialDataTypeURIRequest" name="getOfficialDataTypeURIRequest"/>

         <wsdl:output message="impl:getOfficialDataTypeURIResponse" name="getOfficialDataTypeURIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMiriamURI" parameterOrder="uri">

         <wsdl:input message="impl:getMiriamURIRequest" name="getMiriamURIRequest"/>

         <wsdl:output message="impl:getMiriamURIResponse" name="getMiriamURIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypePattern" parameterOrder="nickname">

         <wsdl:input message="impl:getDataTypePatternRequest" name="getDataTypePatternRequest"/>

         <wsdl:output message="impl:getDataTypePatternResponse" name="getDataTypePatternResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResourceInfo" parameterOrder="id">

         <wsdl:input message="impl:getResourceInfoRequest" name="getResourceInfoRequest"/>

         <wsdl:output message="impl:getResourceInfoResponse" name="getResourceInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResourceInstitution" parameterOrder="id">

         <wsdl:input message="impl:getResourceInstitutionRequest" name="getResourceInstitutionRequest"/>

         <wsdl:output message="impl:getResourceInstitutionResponse" name="getResourceInstitutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResourceLocation" parameterOrder="id">

         <wsdl:input message="impl:getResourceLocationRequest" name="getResourceLocationRequest"/>

         <wsdl:output message="impl:getResourceLocationResponse" name="getResourceLocationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeSynonyms" parameterOrder="name">

         <wsdl:input message="impl:getDataTypeSynonymsRequest" name="getDataTypeSynonymsRequest"/>

         <wsdl:output message="impl:getDataTypeSynonymsResponse" name="getDataTypeSynonymsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypesName">

         <wsdl:input message="impl:getDataTypesNameRequest" name="getDataTypesNameRequest"/>

         <wsdl:output message="impl:getDataTypesNameResponse" name="getDataTypesNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataTypesId">

         <wsdl:input message="impl:getDataTypesIdRequest" name="getDataTypesIdRequest"/>

         <wsdl:output message="impl:getDataTypesIdResponse" name="getDataTypesIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkRegExp" parameterOrder="identifier datatype">

         <wsdl:input message="impl:checkRegExpRequest" name="checkRegExpRequest"/>

         <wsdl:output message="impl:checkRegExpResponse" name="checkRegExpResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MiriamWebServicesSoapBinding" type="impl:MiriamProvider">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLocationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getURIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getURIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getURIRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getURIResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLocationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationsRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLocationsResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNamesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNamesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getURN">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getURNRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getURNResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataResources">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataResourcesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataResourcesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isDeprecated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isDeprecatedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isDeprecatedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServicesInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServicesInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServicesVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServicesVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJavaLibraryVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJavaLibraryVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJavaLibraryVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURN">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURNRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURNResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURNs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURNsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURNsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURLs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURLsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURLsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURIRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURIResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURIsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURIsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeURIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeURIsRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeURIsResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeAllURIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeAllURIsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeAllURIsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeDef">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeDefRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeDefResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataEntriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataEntriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataEntriesRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataEntriesResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOfficialURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOfficialURIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOfficialURIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOfficialDataTypeURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOfficialDataTypeURIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOfficialDataTypeURIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMiriamURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMiriamURIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMiriamURIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypePattern">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypePatternRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypePatternResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResourceInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResourceInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResourceInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResourceInstitution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResourceInstitutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResourceInstitutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResourceLocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResourceLocationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResourceLocationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypeSynonyms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypeSynonymsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypeSynonymsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypesName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypesNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypesNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataTypesId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataTypesIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataTypesIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkRegExp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkRegExpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.miriam.ebi.ac.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkRegExpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MiriamProviderService">

      <wsdl:port binding="impl:MiriamWebServicesSoapBinding" name="MiriamWebServices">

         <wsdlsoap:address location="http://www.ebi.ac.uk/miriamws/main/MiriamWebServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>